<div class="provider-container" fxLayout="column" fxLayoutAlign="start start">
  <span fxFlexOffset="10" class="heading-font">Anbieter wählen</span>
  <div fxLayout="row" fxFlexAlign="center" fxLayoutAlign="center center" fxFlexOffset="10">
    <button mat-icon-button *ngFor="let provider of allProviders; let odd = odd;" fxFlexOffset="2" [ngClass]="{'icon-button': true, 'selected-provider': isSelectedProvider(provider), 'hide': odd}" (click)="toggleProvider(provider)" >
      <img src="/assets/img/vehicles/{{provider.key}}.png" height="80px" width="80px">
    </button>
  </div>
  <div fxLayout="row" fxFlexAlign="center" fxLayoutAlign="center center" fxFlexOffset="2">
    <button mat-icon-button *ngFor="let provider of allProviders; let even = even;" fxFlexOffset="2" [ngClass]="{'icon-button': true, 'selected-provider': isSelectedProvider(provider), 'hide': even}" (click)="toggleProvider(provider)" >
      <img src="/assets/img/vehicles/{{provider.key}}.png" height="80px" width="80px">
    </button>
  </div>
</div>

