.heading-font {
  color: grey;
  font-size: 20pt;
}

.icon-button {
  height: 140px;
  width: 140px;
  background-color: gray;
  border-radius: 8px;
}

.provider-container {
  height: 45vh;
}

.selected-provider {
  background-color: #DC6E46 !important;
}

.hide {
  display: none;
}
