.interaction-div {
  height: 100%;
}

.font {
  color: grey;
  font-size: 40pt;
  text-align: center;
}

.icon-style {
  color: grey;
  font-size: 130px !important;
}

.icon-button {
  height: 180px;
  width: 180px;
}
