<div class="interaction-div" fxLayout="column" fxLayoutAlign="space-between center">
  <span fxFlexOffset="10" class="font">Hallo!</span>
  <span fxFlexOffset="4" class="font">Wähle deine Eingabemethode</span>
  <div fxFill fxFlexOffset="4" fxLayout="row" fxLayoutAlign="space-evenly center">
    <button class="icon-button" [routerLink]="['/feature']" mat-icon-button>
      <mat-icon [inline]="true" class="icon-style">mic</mat-icon>
    </button>
    <button class="icon-button" [routerLink]="['/feature']" mat-icon-button>
      <mat-icon [inline]="true" class="icon-style">touch_app</mat-icon>
    </button>
  </div>
</div>

