<div fxLayout="column" fxLayoutAlign="space-between center">
  <span fxFlexOffset="15" class="font">Wähle die Funktion, bei der du Hilfe benötigst</span>
  <div fxFlexOffset="10" fxFill fxLayout="row" fxLayoutAlign="space-evenly center">
    <button class="icon-button" (click)="openVideo('routefinder')" mat-icon-button>
      <img src="/assets/img/help_video.png" height="150px">
      <span class="font">Video zu Funktion</span>
      <span class="font-green">Routenfinder</span>
    </button>
    <button class="icon-button" (click)="openVideo('surrounding')" mat-icon-button>
      <img src="/assets/img/help_video.png" height="150px">
      <span class="font">Video zu Funktion</span>
      <span class="font-green">Meine Umgebung</span>
    </button>
  </div>
</div>


