<div fxLayout="column" fxLayoutAlign="space-between center">
  <span fxFlexOffset="25" class="font">Du hast die {{payment.method}} Zahlungsmethode gewählt</span>
  <div fxFlexOffset="8" fxFill fxLayout="row" fxLayoutAlign="space-evenly center">
      <img [src]="payment.link" height="140px">
  </div>
  <span fxFlexOffset="10" class="font">{{payment.instruction}}</span>
</div>

