<div fxLayout="column" fxLayoutAlign="start stretch">
  <span fxFlexOffset="6" class="heading-font">Übersicht</span>
  <mgl-map fxFlexOffset="5" (load)="mapLoaded($event)"
           [style]="'mapbox://styles/mapbox/streets-v11'"
           [zoom]="[11]"
           [center]="[10.01, 53.57]">
  </mgl-map>
</div>
