<div class="feature-div" fxLayout="column" fxLayoutAlign="space-between center">
  <span fxFlexOffset="15" class="font">Wie darf ich helfen?</span>
  <div fxFlexOffset="8" fxFill fxLayout="row" fxLayoutAlign="space-evenly center">
    <button class="icon-button" [routerLink]="['/destination']" mat-icon-button>
      <img src="/assets/img/destination_gray.png" height="90px" width="90px">
      <span class="font-small">Routenfinder</span>
    </button>
    <button class="icon-button" [routerLink]="['/surrounding']" mat-icon-button>
      <img src="/assets/img/surrounding_gray.png" height="90px" width="90px">
      <span class="font-small">Meine Umgebung</span>
    </button>
  </div>
</div>

