<div fxLayout="column" fxLayoutAlign="space-between center">
  <span fxFlexOffset="15" class="font">Wie darf ich helfen?</span>
  <div fxFlexOffset="12" fxFill fxLayout="row" fxLayoutAlign="space-evenly center">
    <button class="icon-button" [routerLink]="['/help/choose-video']" mat-icon-button>
      <img src="/assets/img/help_video.png" height="150px">
      <span class="font-small">Hilfsvideo anschauen</span>
    </button>
    <button class="icon-button" (click)="openDialog()" mat-icon-button>
      <img src="/assets/img/support.png" height="150px">
      <span class="font-small">Support anrufen</span>
    </button>
  </div>
</div>

