.heading-font {
  color: grey;
  font-size: 20pt;
  margin-left: 24px;
}

.list-heading-font {
  color: #DC6E46;
  font-size: 15pt;
}

.connection-font {
  color: grey;
  font-size: 11pt;
  word-break: unset;
  word-wrap: unset;
  overflow-wrap: unset;
  -webkit-hyphens: unset;
  -moz-hyphens: unset;
  -ms-hyphens: unset;
  hyphens: unset;
}

::ng-deep .mat-cell {
  background-color: rgba(0, 0, 0, 0);
}

::ng-deep .mat-header-cell {
  background-color: rgba(0, 0, 0, 0);
}

::ng-deep .mat-table {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
}

.step-connector {
  margin-left: 10px;
  margin-right: 10px;
}

.last-step-connector {
  display: none;
}

.mat-paginator {
  background-color: rgba(0, 0, 0, 0);
  color: grey;
  font-size: 9pt;
}

.str-horizontal-divider {
  height: 2px;
  width: 90%;
  background-color: #DC6E46;
  margin-right: auto;
  margin-left: auto;
}

mgl-map {
  height: 40vh;
}

.table-container {
  border: 1px solid grey;
}

.highlightRowColor {
  background: rgba(220, 110, 70, 0.8) !important;
}

