<div fxLayout="column" fxLayoutAlign="start stretch">
  <span fxFlexOffset="6" class="heading-font">Verbindung wählen</span>
      <table mat-table fxFlexOffset="4" class="table-container" [dataSource]="dataSource">
        <ng-container class="connection-font" matColumnDef="time">
          <th class="list-heading-font" mat-header-cell *matHeaderCellDef>Zeiten</th>
          <td class="connection-font" mat-cell *matCellDef="let element">
            <p>
              <span>{{element.from | date: "HH:mm"}} - </span>
              <span>{{element.until | date: "HH:mm"}}</span>
            </p>
          </td>
        </ng-container>

        <ng-container matColumnDef="steps">
          <th class="list-heading-font" mat-header-cell *matHeaderCellDef>Verlauf</th>
          <td fxLayout="row" fxLayoutAlign="start center" class="connection-font" mat-cell *matCellDef="let element">
            <p fxLayout="row" fxLayoutAlign="start center" *ngFor="let step of element.steps; let last = last" >
              <span>{{step.name}}</span>
              <span [ngClass]="{ 'step-connector' : true, 'last-step-connector' : last }">></span>
            </p>
          </td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th class="list-heading-font" mat-header-cell *matHeaderCellDef>Dauer</th>
          <td class="connection-font" mat-cell *matCellDef="let element">
            {{element.duration}} Min.
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="setRouteColor(row)" [ngClass]="{'highlightRowColor': selectedRowIndex === row.id}"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>


    <div fxFlexOffset="2" fxFlexAlign="center" class="str-horizontal-divider"></div>

    <mgl-map (load)="mapLoaded($event)" fxFlexOffset="2"
             [style]="'mapbox://styles/mapbox/streets-v11'"
             [zoom]="[11]"
             [center]="[10.01, 53.57]">
    </mgl-map>
</div>
