::ng-deep .mat-ink-bar {
  top: 0 !important;
  bottom: auto !important;
  background-color: #DC6E46 !important;
}

::ng-deep .mat-tab-link {
  height: 160px !important;
}

.str-horizontal-divider {
  height: 2px;
  width: 90%;
  background-color: #DC6E46;
  margin-right: auto;
  margin-left: auto;
}

.str-vertical-divider {
  width: 2px;
  height: 100px;
  background-color: #DC6E46;
}

.toolbar-div {
  margin-top: 15px;
}

.nav-icon {
  color: #1D2644;
  font-size: 60px !important;
}

.nav-button {
  background-color: #DC6E46;
  height: 80px;
  width: 80px;
}

.tab-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.date-span {
  background: center / contain no-repeat url("/assets/img/calendar.png");
  margin: 0 24px;
  padding-top: 50px;
  color: #1D2644;
  font-size: 20pt;
  background-size: contain;
  height: 90px;
  width: 90px;
  white-space: pre-line;
}

.error-message {
  color: red;
  font-size: 20pt;
}

.parent-container {
  padding: 0 5%;
}
