<div class="parent-container" fxLayout="column" fxLayoutAlign="start stretch">

  <div class="toolbar-div" fxLayout="row" fxLayoutAlign="start start">
    <button class="nav-button" [style.visibility]="isBackButtonVisible" (click)="backClicked()" mat-icon-button>
      <mat-icon [inline]="true" class="nav-icon">navigate_before</mat-icon>
    </button>
    <span class="error-message" fxFlexAlign="center" style="text-align: center;" fxFlex="70" #errorMessage></span>
    <button class="nav-button" [style.visibility]="isNextButtonVisible" (click)="nextClicked()" mat-icon-button>
      <mat-icon [inline]="true" class="nav-icon">navigate_next</mat-icon>
    </button>
    <img fxFlexOffset="3" height="40" width="65" src="/assets/img/weather/cloud-sun.png">
  </div>

  <router-outlet></router-outlet>

  <div class="tab-container">
    <div class="str-horizontal-divider"></div>
    <div style="text-align: center;" fxLayout="row" fxLayoutAlign="center center">
      <nav [style.visibility]="isTabBarVisible" mat-tab-nav-bar mat-align-tabs="center">
        <a #rla="routerLinkActive"
           *ngFor="let link of navLinks"
           [routerLink]="link.path"
           mat-tab-link
           routerLinkActive
           [active]="rla.isActive">
          <img [src]="link.icon" height="90px" width="90px">
        </a>
      </nav>
      <div class="str-vertical-divider"></div>
      <p class="date-span">
        <span style="display: block">{{todayDate | date: "d"}}</span>
        <span style="display: block">{{todayDate | date: "MMM"}}</span>
      </p>
    </div>
  </div>
</div>
