<div fxLayout="column" fxLayoutAlign="start stretch">
  <span fxFlexOffset="6" class="heading-font">Ziel wählen</span>
  <mgl-map (load)="mapLoaded($event)" fxFlexOffset="5"
           [style]="'mapbox://styles/mapbox/streets-v11'"
           [zoom]="[11]"
           [center]="[10.01, 53.57]">
  </mgl-map>
</div>
