<div fxLayout="column" fxLayoutAlign="center center">
  <span fxFlexAlign="start" fxFlexOffset="5" class="heading-font">{{title}}</span>
  <mat-video fxFlexOffset="5"  class="video" src="assets/video/{{video}}.mp4" [autoplay]="true" [fullscreen]="false" [preload]="true" [download]="false" spinner="spin"></mat-video>
</div>


