<div class="feature-div" fxLayout="column" fxLayoutAlign="space-between center">
  <span fxFlexOffset="15" class="font">Wähle deine Zahlungsmethode</span>
  <div fxFlexOffset="12" fxFill fxLayout="row" fxLayoutAlign="space-evenly center">
    <button class="icon-button" (click)="choosePayMethod('creditcard')" mat-icon-button>
      <img src="/assets/img/creditcard.png" height="130px">
    </button>
    <button class="icon-button" (click)="choosePayMethod('barcode')" [routerLink]="['/payment']" mat-icon-button>
      <img src="/assets/img/barcode.png" height="130px">
    </button>
  </div>
</div>


