
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css";
@import '~material-design-icons/iconfont/material-icons.css';


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$myblue: (
  50 : #e4e5e9,
  100 : #bbbec7,
  200 : #8e93a2,
  300 : #61677c,
  400 : #3f4760,
  500 : #1d2644,
  600 : #1a223e,
  700 : #151c35,
  800 : #11172d,
  900 : #0a0d1f,
  A100 : #5e74ff,
  A200 : #2b48ff,
  A400 : #0021f7,
  A700 : #001ede,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$myorange: (
  50 : #fbeee9,
  100 : #f5d4c8,
  200 : #eeb7a3,
  300 : #e79a7e,
  400 : #e18462,
  500 : #dc6e46,
  600 : #d8663f,
  700 : #d35b37,
  800 : #ce512f,
  900 : #c53f20,
  A100 : #fffefd,
  A200 : #ffd3ca,
  A400 : #ffa897,
  A700 : #ff937e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$FutureStop-primary: mat-palette($myblue);
$FutureStop-accent: mat-palette($myorange);

// The warn palette is optional (defaults to red).
$FutureStop-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$FutureStop-theme: mat-light-theme($FutureStop-primary, $FutureStop-accent, $FutureStop-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($FutureStop-theme);

/* You can add global styles to this file, and also import other style files */

html { height: 100%; }
body {
  font-family: Arial, "Helvetica Neue", sans-serif;
  background: url("/assets/img/background.png") center center no-repeat fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  margin-bottom: 0 !important;
}
